*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
  height: 100vh;
}
.container{
    margin-top:10px;
    padding:6px;
    height: auto;
}
.row h4{
    color:#ffa500;
}
img{
    width:500px;
    height:500px;
}
.right{
  background-color: orange;
  color:white;
}
.btn{
   margin: auto;
   color:white;
}
.score-container{
    background-color: #3f4c4c;
    height:auto;
    color:white;
    visibility: hidden;
    padding:5px 0px;
    margin-top: 10px;
}
.retry{
    visibility: hidden;
}
.visible{
    visibility: visible;
}
#small{
    margin-top: 20px;
    margin-bottom: 10px;
    display: block;
}
#span{
    color:black;
}

@media screen and (min-width: 992px) {
    .container {
      height: 100%; 
    }
}
